.dashboard-default__content,
.dashboard-default__order-list,
.dashboard-default__order-list>* {
  width: 100%;
}

.dashboard-default__ecommerce-metircs,
.dashboard-default__order-list {
  flex-direction: column;
  gap: 2rem;
  padding: 0.5rem 1.5rem;
}

.ecommerce-metircs__firstSection,
.ecommerce-metircs__secondSection,
.ecommerce-metircs__thirdSection {
  gap: 2rem;
  width: 100%;
  height: 252px;
}

.ecommerce-metircs__secondSection {
  height: 318px;
}

.ecommerce-metircs__thirdSection {
  height: 336px;
}

.firstSection--leftSide {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.firstSection--leftSide,
.firstSection--rightSide,
.secondSection--leftSide,
.secondSection--rightSide,
.thirdSection--leftSide,
.thirdSection--rightSide {
  height: 100%;
  width: 50%;
}

.secondSection--leftSide,
.thirdSection--leftSide {
  width: 80%;
}

.secondSection--rightSide,
.thirdSection--rightSide {
  width: 20%;
  overflow: hidden;
}

.metricBox {
  padding: 1.5rem;
  width: 100%;
}

.firstSection--rightSide,
.secondSection--leftSide,
.secondSection--rightSide,
.thirdSection--leftSide,
.thirdSection--rightSide {
  border-radius: 16px;
  padding: 1.5rem;
}

.legend {
  gap: 0.3rem;
  padding: 0 0.5rem 0 1rem;
}

.legendDot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

.progressBar__wrapper {
  flex-direction: column;
  height: 50%;
}

.progressBar__wrapper > * {
  width: 100%;
}

.progressBar {
  height: 2px;
  background: #a8c5da80;
  position: relative;
}

.progressBar--percentage {
  position: absolute;
  top: 0;
  background: #a8c5da;
  height: 2px;
}

th {
  text-align: left;
  padding: 1rem 0;
  border-bottom: 1px solid var(--mui-greyShade1);
}

td {
  padding: 1.2rem 0 0.3rem 0;
}

.salesMetricsWrapper {
  flex-direction: column;
  height: 50%;
  padding-top: 1rem;
}

.salesMetricsWrapper>* {
  width: 100%;
}

.salesDot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

.order-list__actions-box {
  gap: 2rem;
  padding: 8px;
  border-radius: 8px;
  background: var(--mui-greyShade0);
  padding: 0.5rem 0 0.5rem 1rem;
}

.order-list__actions {
  gap: 0.5rem;
}

.dashboard-default__order-list td,
.dashboard-default__order-list th {
  font-family: "Inter", sans-serif;
  color: var(--mui-greyShade3);
  font-weight: 400;
  font-size: 12px;
  border-bottom: 2px solid var(--mui-greyShade1);
  padding-left: 0.5rem;
}

.dashboard-default__order-list td {
  border-bottom: 1px solid var(--mui-greyShade1);
  padding: 1rem 0 1rem 0.5rem;
  color:  var(--mui-textShade1);
}

.dashboard-default__order-list tr:hover {
  background: var(--mui-greyShade0);
}